# Ignore build and node modules
node_modules/
build/
dist/

# Ignore generated cache
.cache/
.parcel-cache/
*.tsbuildinfo

# Ignore only generated binaries, keep sources
projects/cache.json
projects/files.json
projects/links.json

# Babylon Editor user workspace (optional)
workspace.editorworkspace

# Optionally ignore editor autosaves but keep main files
# Ignore all .babylonbinarymeshdata, but allow your main scene
projects/scene/geometries/*.babylonbinarymeshdata
projects/scene/*.editorproject
# !scenes/scene/scene.babylon

# Keep your custom material files
# (remove this if you're adding your own .material files)
# assets/materials/

# Optional: ignore lockfiles
package-lock.json
